name: Test Build

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-x86_64
            toolchain-name: x86_64-unknown-linux-gnu
            platforms: linux,deb,appimage
            artifact-names: ['neutron-test-app-linux-x86_64', 'neutron-test-app-deb-x86_64', 'neutron-test-app-appimage-x86_64']
            artifact-paths: ['neutron/build/neutron-test-app-linux-x86_64.tar.bz2', 'neutron/build/neutron-test-app-x86_64-*.deb', 'neutron/build/Neutron Test App-x86_64.AppImage'] 

          - name: linux-aarch64
            toolchain-name: aarch64-unknown-linux-gnu
            platforms: linux-aarch64,deb-aarch64,appimage-aarch64
            artifact-names: ['neutron-test-app-linux-aarch64', 'neutron-test-app-deb-aarch64', 'neutron-test-app-appimage-aarch64']
            artifact-paths: ['neutron/build/neutron-test-app-linux-aarch64.tar.bz2', 'neutron/build/neutron-test-app-aarch64-*.deb', 'neutron/build/Neutron Test App-aarch64.AppImage']

          - name: darwin-x86_64
            toolchain-name: x86_64-apple-darwin
            platforms: mac-intel
            artifact-names: ['neutron-test-app-darwin-x86_64', '', '']
            artifact-paths: ['neutron/build/neutron-test-app-darwin-x86_64.dmg', '', '']
        
          - name: darwin-aarch64
            toolchain-name: aarch64-apple-darwin
            platforms: mac-arm
            artifact-names: ['neutron-test-app-darwin-aarch64', '', '']
            artifact-paths: ['neutron/build/neutron-test-app-darwin-aarch64.dmg', '', '']

          - name: windows-x86_64
            toolchain-name: x86_64-pc-windows-gnu
            platforms: windows
            artifact-names: ['neutron-test-app-windows-x86_64', '', '']
            artifact-paths: ['neutron/build/neutron-test-app-setup-win64.exe', '', '']

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
        
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: false

      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Restore sccache
        id: sccache-restore
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/sccache
          key: sccache-${{ matrix.name }}

      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Build
        run: |
          # Clear even more disk space
          sudo apt-get remove -y '^aspnetcore-.*'
          sudo apt-get remove -y '^dotnet-.*' --fix-missing
          sudo apt-get remove -y 'php.*' --fix-missing 
          sudo apt-get remove -y '^mongodb-.*' --fix-missing
          sudo apt-get remove -y '^mysql-.*' --fix-missing
          sudo apt-get remove -y azure-cli google-chrome-stable firefox powershell --fix-missing
          sudo apt-get remove -y google-cloud-sdk --fix-missing
          sudo apt-get remove -y google-cloud-cli
          sudo apt-get autoremove -y

          # Create extra swap
          sudo dd if=/dev/zero of=swapfile bs=1024 count=8388608
          sudo mkswap swapfile
          sudo chmod 600 swapfile
          sudo swapon swapfile

          # Patch openssl.cnf for osxcross-macports to enable ripemd160
          sudo bash -c 'sed -i "s/\[provider_sect\]/\[provider_sect\]\nlegacy = legacy_sect/g" /etc/ssl/openssl.cnf'
          sudo bash -c 'printf "\n[legacy_sect]\nactivate = 1\n" >> /etc/ssl/openssl.cnf'

          # Install deps
          rustup target add ${{ matrix.toolchain-name }}

          sudo apt install alsa pkg-config libssl-dev msitools debhelper

          if (( ${{ matrix.name }} == "linux-aarch64" )); then
            sudo apt install gcc-aarch64-linux-gnu

            wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-aarch64.AppImage
            chmod +x appimagetool-aarch64.AppImage
            sudo ln -s $PWD/appimagetool-aarch64.AppImage /usr/bin/appimagetool || true
          fi

          if (( ${{ matrix.name }} == "linux-x86_64" )); then
            wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
            chmod +x appimagetool-x86_64.AppImage
            sudo ln -s $PWD/appimagetool-x86_64.AppImage /usr/bin/appimagetool || true
          fi
          
          sudo apt-get clean

          unset CC CXX

          printf "\n\noverride_dh_strip:\n\t#nop" >> src/packages/debian/rules

          pip install -r requirements.txt

          python configurator.py --config-file=test/config.json -p ${{ matrix.platforms }} -b

      - name: Upload sccache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: ~/.cache/sccache
          key: sccache-${{ matrix.name }}

      - name: Upload artifact 1
        if: ${{ matrix['artifact-paths'][0] != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix['artifact-names'][0] }}
          path: ${{ matrix['artifact-paths'][0] }}

      - name: Upload artifact 2
        if: ${{ matrix['artifact-paths'][1] != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix['artifact-names'][1] }}
          path: ${{ matrix['artifact-paths'][1] }}

      - name: Upload artifact 3
        if: ${{ matrix['artifact-paths'][2] != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix['artifact-names'][2] }}
          path: ${{ matrix['artifact-paths'][2] }}
